<!DOCTYPE html>
{% load static %}
<html>
    <head>
		<link href="{% static 'bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'form.css' %}"  rel="stylesheet">
		<style>
			body {
				margin-top: 60px;
			}
		</style>
    </head>
    <body>
		{% if validlink %}
		<h2 style="color : white; margin-left : 50px">Please enter your new password twice so we can verify you typed it in correctly.</h2><br>
		<div style="width : 500px; margin-left : 400px" id="big-form" class="well auth-box">
			<form action="" method="post">
				{% csrf_token %}
				<fieldset>
					<legend>SELECT NEW PASSWORD</legend>
					<div class="form-group">
						<label class="control-label" for="textinput"> 
							New Password: <span style="margin-left: 27px ">{{ form.new_password1 }}</span><br>
							{{ form.new_password1.errors }}
							Confirm Password: {{ form.new_password2 }}<br>
							{{ form.new_password2.errors }}
						</label>
					</div>
					<input class="btn btn-primary" id="sub" style="margin-left : 100px; width: 50%; height: 32px; font-size: 13px;" type="submit" name="submit" value="Change My Password" />
				</fieldset>
			</form>
		</div>
		{% else %}
			<h1 style="color : red; margin-left: 80px">Password reset unsuccessful</h1>
			<p><b style="color : white; margin-left: 80px">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</b></p>
		{% endif %}
    </body>
</html>
